@import url('https://fonts.googleapis.com/css?family=Catamaran:700,800,900|Open+Sans:400,400i,600,600i&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}